#divWeatherMain{
    display: block;
    border-radius: 10px;
    width: 680px; /*200*/
    height: 220px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*position: relative;*/
    /*right: 200px;*/
}

.weatherWidgetRow{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.weatherWidgetRow-intern{
    display: inline-block;
    margin: 0 auto;
    width: 170px;
}