<div id="divWeatherMain">
  <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{xmlItems[0].nome}} - {{xmlItems[0].uf}}</div>
  <span class="weatherWidgetRow-intern" *ngFor="let item of xmlItems">
    <div class="weatherWidgetRow" style="margin-top: 10px;" type="date">{{item.dia}}</div>
    <div class="weatherWidgetRow" >{{item.tempo}}</div>
    <div class="weatherWidgetRow">{{item.minima}}° / {{item.maxima}}°</div>
    <div class="weatherWidgetRow" style="font-size: 10px;">Índice UV: {{item.iuv}}</div>
  </span>
</div>